{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th class="text-center"><span class="glyphicon glyphicon-ok"></span></th><th></th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>{{ todo.description }}</td>
            <td class="text-center">
                {% if todo.completed %}
                    <button class="btn btn-xs btn-success" disabled title="Completed"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                {% else %}
                    <form method="post" action="{{ app.request.baseurl }}/todo/complete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-default" title="Complete task"><span class="glyphicon glyphicon-ok invisible"></span></button>
                    </form>
                {% endif %}
            </td>
            <td class="text-center">
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}